<div class="card-type {{lowercase circuitName}} float-left">
    &nbsp;
</div>
<div class="float-left card-details">
    <div>
        {{cardAlias}}
    </div>
    <div class="pan font-size-small">
        <span>{{maskedPan}}</span>
        <span class="edit-label float-right font-size-xxx-small">Modifica o Elimina</span>
    </div>
</div>
{{#if moreCards}}
<!--<div class="float-right">
	<span class="show-other-cards">&nbsp;</span>
</div>
 -->
 <a class="show-other-cards" href="#">Altre Carte</a>
{{/if}}
<div class="clearfix"></div>