{{#if recharging}}
<div class="{{#unless noCards}} js-toggler {{/unless}} toggler">
    <span class="float-left">RICARICA CON NUOVA CARTA</span>
    <div class="clearfix"></div>
</div>
{{/if}}
<div class="new-card-wrapper slider closed">
    {{#if recharging}}
    <div class="padding page-description">
        Inserisci i dati della Carta di Credito su cui verrà addebitata la ricarica:
    </div>
    {{else}} {{#if newCard}}
    <div class="padding page-description">
        <strong>Collega</strong> una Carta di Credito ad HYPE per effettuare ricariche in modo rapido e sicuro: la carta viene verificata <strong>tramite 3D SECURE</strong>
        <br />
        <br /> Puoi collegare fino a <strong>5</strong> Carte al tuo profilo HYPE
    </div>
    {{/if}} {{/if}}
    <div class="card-form-container card-container">
        <div class="fields-line">
            <div class="input-container full">
                <span class="js-validate-element-cardAlias">
                    <input type="text" placeholder="NOME CARTA" {{#if edit}} disabled="disabled" {{/if}} name="cardAlias" />
                </span>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="virtual-card ">
            <div class="front hype">
                <div class="chip card-element"></div>
                <div class="cardlogo card-element generic-card"></div>
                <div class="card-element pan js-pan"></div>
                <div class="card-element expiration">
                    <div class="label">validit&agrave;</div>
                    <div class="label value"><span class="js-month">01</span><span>/</span><span class="js-year">--</span></div>
                </div>
            </div>
            <div class="retro hype">
                <div class="cvv card-element">
                    <div class="whitestripe float-left">&nbsp;</div>
                    <div class="js-cvv float-left label value"></div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
        <div class="fields-line">
            <div class="input-container full">
                <span class="js-validate-element-cardNumber">
                    <input {{#if edit}} disabled="disabled" {{/if}}  type="text" placeholder="NUMERO CARTA" id="cardNumber" name="cardNumber" />
                </span>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="fields-line">
            <div class="input-container  third padding-right">
                <input type="text" {{#if edit}} disabled="disabled" {{/if}} id="monthText" class="expiryMonth-input" name="monthText" value="Gennaio" />
            </div>
            <div class="input-container  third">
                <input {{#if edit}} disabled="disabled" {{/if}} type="text" id="year" class="expiryYear-input  js-year" name="expiryYear" />
            </div>
            <div class="input-container  third padding-left">
                <span class="js-validate-element-cvv">
                {{#if edit}}
                <input type="text" name="cvv"  id="cvv" value="***" disabled="disabled"  class="cvv-input" placeholder="CVV/CVC" name="cvv" />
                {{else}}
                <input type="number" name="cvv"  id="cvv"  class="cvv-input" placeholder="CVV/CVC" name="cvv" value="" />
                </span> 
                {{/if}}
            </div>
            <input type="hidden" value="01" name="expiryMonth" class="js-month" />
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="js-hidden-amount " name="amount" value="0">
