<div id="main-region">
    <div id="top-navigation" class="menu-in detailed">
        <a href="#" class="icon-menu js-toggle-menu"></a>
        <p>LE MIE CARTE</p>
        {{#unless newCard}}
        <span>Gestisci o aggiungi altre carte</span> {{else}}
        <span>Collega una nuova carta</span> {{/unless}}
    </div>
    <div class="panel-content scrollable">
        <div id="cards-content-region">
        </div>
        {{#unless newCard}}
        <div class="new-card js-add-card add-card padding cards-list-element"><span class="float-left">
     COLLEGA UNA NUOVA CARTA</span>
            <span class="float-right">&nbsp;</span>
            <div class="clearfix">
            </div>
        </div>
        {{else}}
        <div class="button-wrapper">
            <a href="#" class="js-submit glb-btn success">
                        Salva
                        <i class="icon-accept"></i>
                    </a>
        </div>
        {{/unless}}
    </div>
</div>
