<div id="main-region">
    <div id="top-navigation" class="menu-in detailed">
        <a href="#" class="icon-arrow js-back"></a>
        <p>RICARICA CON CARTA</p>
        <span>Inserisci i dati della carta</span>
    </div>
    <div class="panel-content scrollable">
        <div class="amount-wrapper input-wrapper">
            <div class="amount-block js-validate-element-amount">
                <h4>Importo:</h4>
                <div class="amount-container">
                    <span class="euro">€</span>
                    <div id="entity-amount" class="amount">0</div>
                </div>
            </div>
            <div id="keyboard-region" class="keyboard-container">
            </div>
        </div>
        <div class="js-toggler toggler top">
            <span class="float-left">RICARICA CON CARTA COLLEGATA</span>

            <div class="clearfix"></div>
        </div>
        <div id="default-card-region" class="slider selection-mode">
        </div>
        <div id="form-region"></div>
        <div class="button-wrapper">
                <a href="#" class="js-submit glb-btn success">
                        Ricarica HYPE
                        <i class="icon-accept"></i>
                    </a>
            </div>      
    </div>
</div>
