
<div class="modal-dialog resume-dialog">
	<div class="backdrop"></div>
	<div class="overdrop scrollable">
		<div class="top-title">
            <p>Stai caricando</p>
		</div>
		<div class="amount-container">
			<div class="total-amount">{{formatNumber amount}}</div>
		</div> 

        <div class="description">
            <div class="content recharge">
            	Dalla tua carta<br />
            	{{maskedPan}}<br />
            	sul tuo conto HYPE
            </div>
        </div>

		<div class="button-container">
			<a href="#" class="glb-btn success js-confirm">Conferma<i class="icon-accept"></i></a>
			<a href="#" class="glb-btn delete js-cancel">Annulla<i class="icon-reject"></i></a>
		</div>
		
		<div class="bottom-box">
			<div class="close-button">
				<a href="#" class="js-cancel">
					<i class="icon-close"></i>
				</a>
			</div>
		</div>
	</div>
</div>
