<div id="userdata-region" class="hype-logo">
</div>
<div id="menu-navigation-region">
    <div class="main-menu-container">
        <div class="section active" data-group="0">
            <div class="inner">
                <p class="menu-title">Attività</p>
                <ul>
                    <li><a id="movements" class="navigate movements" data-navigationtrigger="activities" data-innertrigger="movements:list" href="#">Movimenti</a></li>
                    <li><a  id="goals"   class="navigate inactive goals" data-navigationtrigger="activities" data-innertrigger="goals:list" href="#">Obiettivi</a></li>
                </ul>
            </div>
        </div>
        <div class="section" data-group="1">
            <div class="inner">
                <p class="menu-title">Trasferisci denaro</p>
                <ul>
                    <li><a  id="send"   class="navigate inactive send" data-navigationtrigger="hype:payment:new" href="#">Invia denaro</a></li>
                    <li><a   id="request"  class="navigate inactive request" data-navigationtrigger="hype:request:new" href="#">Richiedi denaro</a></li>
                    <li><a  id="transfer"   class="navigate inactive transfer" data-navigationtrigger="hype:transfer:new" href="#">Invia bonifico</a></li>
                </ul>
            </div>
        </div>
        <div class="section" data-group="2">
            <div class="inner">
                <p class="menu-title">Pagamenti</p>
                <ul>
                    <li><a  id="mobile"   class="navigate inactive recharge" data-navigationtrigger="payments" data-innertrigger="payments:mobile" href="#">Ricarica telefono</a></li>
                    <li><a   id="cards-list"  class="navigate inactive cards-list" data-navigationtrigger="my:cards:list" href="#">Le mie Carte</a></li>
                    <li><a   id="card-recharge"  class="navigate inactive card-recharge" data-navigationtrigger="card:recharge:menu" href="#">Ricarica HYPE</a></li>
                    {{#if wallet}}
                    <li class="js-wallet"><a   id="qr"  class="navigate inactive  " data-navigationtrigger="qr_reader" href="#">Paga con QR code<i class="icon-logout"></i></a></li>
                    <li class="js-wallet"><a  id="atm"  class="navigate inactive  " data-navigationtrigger="geolocalization" href="#">Nelle vicinanze<i class="icon-logout"></i></a></li>
                    <li class="js-wallet"><a   id="bills"  class="navigate inactive  " data-navigationtrigger="pay_bill" href="#">Paga bollette<i class="icon-logout"></i></a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
        {{#if deals}}
            {{#is customerType 'YOOX'}} {{else}}
                <div class="section js-deals" data-group="3">
                    <div class="inner">
                        <p class="menu-title">OFFERTE</p>
                        <ul>
                            <li><a  id="deals"   class="navigate show-deals inactive" data-navigationtrigger="deals:list" href="#">Le offerte per te</a></li>
                        </ul>
                    </div>
                </div>
            {{/is}}
        {{/if}}
    </div>
</div>
<div class="floating-arrow">
</div>
{{#is customerType 'YOOX'}} {{else}}
    <a  class="plus-button js-plus glb-btn rounded-ghost" href="#">PASSA A HYPE PLUS</a>
{{/is}}
