<div class="menu-in">
    <a href="#" class="icon-arrow back"></a>
    <p>Imposta Notifica</p>
</div>
<div class="panel-content scrollable">
    <div id="form-region" class="notification-form text">
        <p>Avvertimi quando</p>

        <a class="0 subject mark" data-level="0" href="#"></a>

        <a class="1 subject mark" data-level="1" href="#"></a>

        <a class="2 subject mark" data-level="2" href="#"></a>

        <a class="3 subject mark" data-level="3" href="#"></a>

        <input type="number" class="hidden-input" name="amount" id="amount" />

        <div class="notification-instructions">
            fai TAP sulle voci evidenziate per impostare le notifiche
        </div>
    </div>
    <div class="padding align-center">
        <a href="#" class="js-submit start-action glb-btn success">
            ATTIVA NOTIFICA
            <i class="icon-accept "></i>
        </a>
    </div>
    <div id="options-region">
    </div>
</div>
<div id="keyboard-region" class="keyboard-box-triggers">

</div>