<div class="modal-dialog photo-source-dialog">
    <div class="backdrop"></div>
    <div class="overdrop">

        <div class="bottom-box">
            <div class="close-button js-cancel">
                <a href="#" class="js-close">
                    <i class="icon-close"></i>
                </a>
            </div>
        </div>
        
        <div class="actions">
            <a href="#" class="js-snap request-button take-photo" data-action="request">
                <div class="image"></div>
                <label class="light-label">Scatta una foto</label>
            </a>

            <a href="#" class="js-gallery request-button select-photo" data-action="send">
                <div class="image"></div>
                <label class="light-label">Scegli dalla galleria</label>
            </a>
        </div>

    </div>
</div>
