<div class="menu-in">
    <a href="#" class="back icon-arrow"></a>
    
    <p>Invio denaro - in attesa</p>
</div>
<div class="panel-content scrollable">
    <div id="profile-region" class="movimento-block p2p-movement">

        <div class="top-image-title-container">
            <p class="mov-date">{{niceDate date}}</p>
            <div class="align-center">

                <span class="subtitle">Stai inviando denaro a:</span>

                <h3>{{capitalize mateFirstName}} {{capitalize mateLastName}}</h3>
                <span class="reference">{{lowercase reference}}</span>
                <div class="clearfix"></div>
                <div class="baloon-image-container">
                    <div id="top-image" class="baloon">
                        <div class="initials">{{initials mateFirstName mateLastName}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="center-info-block">
            <div class="price-cat-block align-center">
                <div class="price {{ type }} {{ p2pType }}">
                    <span class="amount">{{formatNumber amount}}</span>
                </div>
            </div>

            <div class="clearfix"></div>

            <p class="message">
                <span class="content">{{{ memo }}}</span>
            </p>
        </div>

        <div class="command-block">
            <a href="#" class="glb-btn delete js-cancel-intent">Annulla invio<i class="icon-reject"></i></a>
        </div>

        <div class="causal">
            Il nuovo contatto ricever&agrave; la notifica di invio denaro
            e l'invito di registrazione ad Hype. Il ricevente ha 10
            giorni per accettare, terminati i quali l'invio di denaro
            sar&agrave; cancellato.
        </div>
    </div>
</div><!-- fine panel content -->
<div id="image-show-region">

</div>

