<div class="menu-in">
    <a href="#" class="back icon-arrow"></a>
    <p>Richiesta di denaro rifiutata</p>
</div>
<div class="panel-content scrollable">
    <div id="profile-region" class="movimento-block">

        <div id="top-image" class="top-image-title-container">
            <p class="mov-date">{{niceDate date}}</p>
            <p class="mov-title">
                hai rifiutato la richiesta di pagamento
            </p>
        </div>

        <div class="center-info-block">

            <div class="price-cat-block">
                <div class="price {{ type }}">
                    <span class="amount">{{formatNumber amount}}</span>
                </div>
            </div>

            <div class="clearfix"></div>
             
        </div>
        <div class="bottom-map-block">

        </div>
    </div>

    <div id="map-region">

    </div>
</div><!-- fine panel content -->
<div id="image-show-region">

</div>
