<div class="menu-in">
    <a href="#" class="back icon-arrow"></a>

    <p>BONIFICO</p>
</div>
<div class="panel-content scrollable">
    <div id="profile-region" class="movimento-block p2p-movement">
        {{#is type 'outcome'}}
        <div class="top-image-title-container">
            <p class="mov-date">{{niceDate date}}</p>
            <div class="align-center">
                <div class="image other-operations show-outgoing-transfer"></div>
                <span class="subtitle other-operations">Hai inviato un bonifico a:</span>

                <h3>{{reference}}</h3>
            </div>
        </div>
        {{else}}
        <div class="top-image-title-container">
            <p class="mov-date">{{niceDate date}}</p>
            <div class="align-center">
                <div class="image other-operations show-incoming-transfer"></div>
                <span class="subtitle other-operations">Hai ricevuto un bonifico da:</span>

                <span class="reference no-margin-top">{{reference}}</span>
            </div>
        </div>
        {{/is}}
        <div class="center-info-block other-operations">
            <div class="price-cat-block">
                <div class="price {{ type }}">
                    <span class="amount">{{formatNumber amount}}</span>
                </div>
                <div id="dropdown-region" class="dropdown-categories">
                    <!-- selettore categoria obiettivo -->
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <p class="message">
                <span class="content">{{{ title }}}</span>
            </p>
            <div class="clearfix"></div>

            {{#is subType 'bonifico'}}
                <div class="command-block">
                    <a href="#" class="js-cancel-transfer glb-btn delete">CANCELLA BONIFICO</a>
                </div>
            {{/is}}
        </div>
    </div>


    <div id="map-region">

    </div>
</div><!-- fine panel content -->
<div id="image-show-region">

</div>
