<link id="dynmic-walkthrough-stylesheet" href="assets/css/wt-dinamico.css" rel="stylesheet" />
<div class="slider gradient" id="walkthrough">
    <div class="wrapper">
        <div class="slide active">
            <div class="logo">
                <div class="t">
                    <div class="c">
                        <img src="assets/images/walkthrough/slide1/logo@2x.png" alt="Hype" />
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="title">Hype ti dà il benvenuto.</div>
                <div class="subtitle hardcore">HYPE trasforma il tuo modo di gestire il denaro <br>e ti permette di scambiarlo con chi vuoi. <br>Gratuitamente.</div>
            </div>
        </div>
        <div class="slide">
            <div class="o">
                <img src="assets/images/walkthrough/slide2/POS@2x.png" alt="" id="pos" />
                <img src="assets/images/walkthrough/slide2/Card@2x.png" alt="" id="card2" />
                <img src="assets/images/walkthrough/slide2/phone@2x.png" alt="" id="phone2" />
                <img src="assets/images/walkthrough/slide2/focus@2x.png" alt="" id="focus2" />
            </div>
            <div class="message opaque">
                <div class="title">Paga ovunque e controlla<br>le tue spese.</div>
                <div class="subtitle hardcore">Hype è una carta ricaricabile contactless con cui puoi pagare negli e-commerce e nei negozi.<br>Hype ha anche un IBAN con cui poter inviare e ricevere bonifici bancari.</div>
            </div>
        </div>
        <div class="slide">
            <div class="o">
                <img src="assets/images/walkthrough/slide3/alessio@2x.png" alt="" id="alessio" />
                <img src="assets/images/walkthrough/slide3/giovanni@2x.png" alt="" id="giovanni" />
                <img src="assets/images/walkthrough/slide3/arrow@2x.png" alt="" id="arrow" />
                <img src="assets/images/walkthrough/slide3/phone3@2x.png" alt="" id="phone3" />
                <img src="assets/images/walkthrough/slide3/focus@2x.png" alt="" id="focus3" />
            </div>
            <div class="message opaque">
                <div class="title">Scambia denaro <br>con i tuoi contatti.</div>
                <div class="subtitle hardcore">Con HYPE puoi anche ricevere ed inviare denaro <br>in tempo reale, ai contatti della tua rubrica. <br>Senza costi e commissioni.</div>
            </div>
        </div>
        <div class="slide">
            <div class="o plain-group">
                <img src="assets/images/walkthrough/slide4/cloud@2x.png" alt="" id="clouds" />
                <img src="assets/images/walkthrough/slide4/plane@2x.png" alt="" id="plane" />
                <img src="assets/images/walkthrough/slide4/trail@2x.png" alt="" id="trail" />
            </div>
            <div class="o">
                <img src="assets/images/walkthrough/slide4/phone4@2x.png" alt="" id="phone4" />
                <img src="assets/images/walkthrough/slide4/focus4@2x.png" alt="" id="focus4" />
            </div>
            <div class="message opaque">
                <div class="title">Ottieni prima ciò che vuoi.</div>
                <div class="subtitle hardcore">Basta creare un obiettivo per ottenere automaticamente il piano di risparmio personalizzato necessario ad acquistarlo.<br>Senza pensieri.</div>
                <a href="#" class="js-close btn-wt">SCOPRI HYPE</a>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <span class="bullet active"></span>
    <span class="bullet"></span>
    <span class="bullet"></span>
    <span class="bullet"></span>
</div>
<a href="#" class="js-close" id="skip"><img src="assets/images/walkthrough/skip@2x.png" alt="" /></a>