<link id="static-walkthrough-stylesheet" href="assets/css/wt-statico.css" rel="stylesheet" />

<div class="slider gradient" id="walkthrough">
    <div id="wt-page_1" class="wt-page">
        <div class="slide active">
            <div class="logo">
                <div class="t">
                    <div class="c">
                        <img src="assets/images/walkthrough/logo@2x.png" alt="Hype" />
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="title">Hype ti dà il benvenuto.</div>
                <div class="subtitle hardcore">HYPE trasforma il tuo modo di gestire il denaro <br>e ti permette di scambiarlo con chi vuoi. <br>Gratuitamente.</div>
            </div>
        </div>
    </div>
    <div id="wt-page_2" class="wt-page">
        <div class="slide active">
            <div class="o">
                <img src="assets/images/walkthrough/2.png" alt="" />
            </div>
            <div class="message opaque on">
                <div class="title">Paga ovunque e controlla<br>le tue spese.</div>
                <div class="subtitle hardcore">Hype è una carta ricaricabile contactless con cui puoi pagare negli e-commerce e nei negozi. Hype ha anche un IBAN con cui poter inviare e ricevere bonifici bancari.</div>
            </div>
        </div>
    </div>
    <div id="wt-page_3" class="wt-page">
        <div class="slide active">
            <div class="o">
                <img src="assets/images/walkthrough/3.png" alt="" />
            </div>
            <div class="message opaque on">
                <div class="title">Scambia denaro <br>con i tuoi contatti.</div>
                <div class="subtitle hardcore">Con HYPE puoi anche ricevere ed inviare denaro <br>in tempo reale, ai contatti della tua rubrica. <br>Senza costi e commissioni.</div>
            </div>
        </div>
    </div>
    <div id="wt-page_4" class="wt-page">
        <div class="slide active">
            <div class="o">
                <img src="assets/images/walkthrough/4.png" alt="" />
            </div>
            <div class="message opaque on">
                <div class="title">Ottieni prima ciò che vuoi.</div>
                <div class="subtitle hardcore">Basta creare un obiettivo per ottenere automaticamente il piano di risparmio personalizzato necessario ad acquistarlo.<br>Senza pensieri.</div>
                <a href="#" class="btn-wt js-close">SCOPRI HYPE</a>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" class="wt-navigate prev"><img src="assets/images/walkthrough/prev.png"></a>
        <span class="bullet active wt-step_1"></span>
        <span class="bullet wt-step_2"></span>
        <span class="bullet wt-step_3"></span>
        <span class="bullet wt-step_4"></span>
        <a href="#" class="wt-navigate next"><img src="assets/images/walkthrough/next.png"></a>
    </div>
    <a href="#" class="js-close" id="skip"><img src="assets/images/walkthrough/skip@2x.png" alt="" /></a>


</div>
