<div id="main-region">

    {{#is mode 'payment'}}
    <div id="top-navigation" class="menu-in detailed">
        <a href="#" class="icon-arrow js-back"></a>
        <div class="amount sufficient-sts">
            <p>Invia Denaro</p>
            <span>Puoi spendere &euro; <i class="sts-left">{{sts}}</i></span>
        </div>
        <div class="amount insufficient-sts">
            <p>"Puoi spendere" superato</p>
            <span>Devi recuperare &euro; <i class="sts-left"></i></span>
        </div>

        <div class="amount insufficient-balance" >
            <p>"Puoi spendere" superato</p>
            <span>Non &egrave; possibile inviare denaro</span>
        </div>
    </div>
    {{else}}
    <div id="top-navigation" class="menu-in">
        <a href="#" class="icon-arrow js-back"></a>
        <div class="amount sufficient-sts">
            <p>Richiedi Denaro</p>
        </div>
    </div>
    {{/is}}

    <div class="money-transfer-form panel-content scrollable">
        <div class="edit-block">

            <div class="amount-wrapper input-wrapper">
                <div class="amount-block">
                    {{#is mode 'request'}}
                    <h4>Richiedi ad ognuno</h4>
                    {{else}}
                    <h4>Invia</h4>
                    {{/is}}
                    <input type="hidden" class="js-hidden-amount" name="amount" value="{{amount}}" />
                    <div class="amount-container">
                        <span class="euro">&euro;</span>
                        <div id="entity-amount" class="amount">{{amount}}</div>
                    </div>
                </div>

                <div id="keyboard-region" class="keyboard-container">

                </div>
            </div>

            <div id="peers-region">

            </div>
            <div id="contacts-region">

            </div>

            <div class="input-wrapper">
                <div class="input-container transfer-field">
                    <span id="entity-peer"></span>
                </div>
            </div>
            {{#if isIban}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Causale</h4>
                    <div class="input-container transfer-field">
                        <textarea name="description" placeholder="Inserisci la causale" id="entity-description"></textarea>
                    </div>
                </div>
                <span class="help-inline info">Ancora <i class="js-chars-left">40</i> caratteri a disposizione</span>
            </div>            
            {{else}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Messaggio</h4>
                    <div class="input-container transfer-field">
                        <textarea name="description" placeholder="Inserisci un messaggio" id="entity-description"></textarea>
                    </div>
                </div>
                <span class="help-inline info">Ancora <i class="js-chars-left">150</i> caratteri a disposizione</span>
            </div>
            {{/if}}
            <div class="input-wrapper js-transferDateContainer" style="display:none;">
                <div class="input-field">
                    <h4>Data</h4>
                    <div class="input-container transfer-field">
                        <input type="date" value="{{transferDate}}" name="transferDate" placeholder="gg/mm/aaaa" id="entity-transferDate" class="js-validate-element-transferDate" />
                    </div>
                    <span id="entity-peer"></span>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="padding">
                <a href="#" class="js-submit glb-btn success">CONFERMA<span class="icon-accept"></span></a>
            </div>

        </div>
    </div>

    <div id="dates-region"></div>
    <div class="js-result"></div>
</div> 