<div class="info-block {{clickable}}" >
    {{#if imageValue}}
        {{#if hyper}}
            <div class="image-block hype {{type}}" style="background-image: url(data:image/gif;base64,{{imageValue}}); background-size: cover;">
                <div class="pin">
                    <i class="icon-phone-full"></i>
                </div>
                <i class="hype-logo icon-hype-logo"></i>
            </div>
        {{else}}
            <div class="image-block {{type}}" style="background-image: url({{imageValue}}); background-size: cover;">
                <div class="pin">
                    <i class="icon-phone-full"></i>
                </div>
                <i class="hype-logo icon-hype-logo"></i>
            </div>
        {{/if}}    
    {{else}}
    <div class="image-block {{#if hyper}} hype {{/if}} {{type}}">
        {{initials firstName lastName}}
        {{#if hyper}}
        <i class="hype-logo icon-hype-logo"></i>
        {{else}}
        <div class="pin">
            <i class="icon-phone-full"></i>
        </div>
        {{/if}}
    </div>
    {{/if}}

    <div class="title-line {{type}}">
        {{capitalize firstName}} {{capitalize lastName}}
        <small>{{destination}}</small>
    </div>
     
    <a href="#" id="js-delete-peer" class="delete-peer"><i class="icon-close"></i></a>
    <!--<a href="#" class="js-delete">elimina</a>-->
</div>
