<div id="loading-movements-list-region"></div>
<div class="banner-button-container">
    <div class="js-deals deals-banner banner-button-top" style="display:none;">
        <div class="deals-banner-image"></div>
        <div class="center">
            Ci sono delle <span class="purple">OFFERTE</span> per te!
            <!--<i class="icon-close arrow"></i></a>-->
            <br>
            <a class="go" href="#">Scoprile subito</a><span class="arrow"> &gt;</span>
        </div>
        <div class="cross">
            <a href="#"><i class="icon-close"></i></a>
        </div>
    </div>
</div>
<div id="entities-region"></div>
