<div class="resume-container" style="display:none;">
	{{#if incomes}}
	<div class="resume-box incomes js-incomes selected">
		<p class="title">entrate</p>
		<p class="price small">
            <span class="amount">{{formatNumber incomes}}</span>
        </p>
	</div>
	{{/if}}

	{{#if outcomes}}
	<div class="resume-box outcomes js-outcomes selected">
		<p class="title">uscite</p>
		<p class="price small">
            <span class="amount">{{formatNumber outcomes}}</span>
        </p>
	</div>
	{{/if}}
</div>

<div class="mov-list">

</div>

