<table class="table">
    <tr>
        <td><a href="#" data-input="1" class="btn insert vibrate">1</a></td>
        <td><a href="#" data-input="2" class="btn insert vibrate">2</a></td>
        <td><a href="#" data-input="3" class="btn insert vibrate">3</a></td>
    </tr>
    <tr>
        <td><a href="#" data-input="4" class="btn insert vibrate">4</a></td>
        <td><a href="#" data-input="5" class="btn insert vibrate">5</a></td>
        <td><a href="#" data-input="6" class="btn insert vibrate">6</a></td>
    </tr>
    <tr>
        <td><a href="#" data-input="7" class="btn insert vibrate">7</a></td>
        <td><a href="#" data-input="8" class="btn insert vibrate">8</a></td>
        <td><a href="#" data-input="9" class="btn insert vibrate">9</a></td>
    </tr>
    <tr>
        <td class="dot"><a href="#" data-input="." class="btn insert vibrate">,</a></td>
        <td><a href="#" data-input="0" class="btn insert vibrate">0</a></td>
        <td><a href="#" class="btn delete vibrate"><i class="icon-delete"></i></a></td>
    </tr>
    <tr class="tr-ok">
        <td colspan="3"><a href="#" data-value="" class="btn confirm vibrate">OK</a></td>
    </tr>
</table>