<div>
    <div class="modal-header">
        <h3 class="modal-title">Imposta proprietà widget</h3>
    </div>
    <div class="modal-body pdtProperty">
        <table class="table "> <th colspan="">Porprietà</th>
            <th>Valore</th>
            <tr>
                <td>proprietà widget nome</td>
                <td><input class="col-sm-12" type="text" id="rule_nome"></td>
            </tr>
            <tr>
                <td>proprietà widget cognome</td>
                <td><select class="col-sm-12" type="text" id="rule_cognome">
                        <option val="VISIBILE">VISIBILE</option>
                        <option val="NASCOSTO">NASCOSTO</option>
                </select></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annulla</button>
        <button class="btn btn-primary" type="button" ng-click="ok(pdtId)">Conferma</button>
    </div>
</div>