<ul class="nav nav-sidebar">
    <li class="active"><a>  Widgets<span class="sr-only"></span></a></li>
    <li><input class="widget_search form-control" type="text" placeholder="Cerca" ng-model="searchText"/></li>
</ul>

<div class="add_product_widgets row">
    <div ng-repeat="(listName, list) in models.lists">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{listName}}</h3>
            </div>
            <div class="panel-body" ng-include="'acol/app/templates/widgets.html'"></div>
        </div>
    </div>
    <!--div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Custom Widget</h3>
            </div>
            <div class="panel-body">
            <ul class="cust-dnd-list" > <li 
        dnd-draggable="item"
        dnd-type="'widget'"
        dnd-disable-if=""
        dnd-effect-allowed="copy"
        dnd-selected="models.selected = item"
        ng-class='noselect'>
       Widget Jolly
    </li>
</ul>
            </div>
        </div>
    </div-->
    
    
    
</div>


