<header class="home-header loading">
	<div class="backdrop"></div>
    <div id="safetospend-region"></div><!-- contiene la vista con il safe to spend e i vari saldi (nascosti)-->
    <div id="search-area"></div><!-- per una futura ricerca-->
    <div id="activities-navigation-region"></div><!-- contiene la vista con i tab della navigazione movimenti/obiettivi -->
</header>
<div class="activities-wrapper show-movements">
    <div id="movements-area" class="activities-container"></div>
    <div id="goals-area" class="activities-container"></div>
</div>
