<div class="modal-dialog transfer-dialog {{className}}">
    <div class="backdrop"></div>
    <div class="overdrop">
        <div class="top-title">Invia denaro</div>

        <a href="#" class="js-send-request request-button send-money" data-action="send">
            <div class="image"></div>
            <label class="light-label">Invia denaro</label>
        </a>

        <a href="#" class="js-send-request request-button request-money" data-action="request">
            <div class="image"></div>
            <label class="light-label">Richiedi denaro</label>
        </a>

        <div class="bottom-box">
            <div class="close-button js-cancel">
                <a href="#">
                    <i class="icon-close js-close"></i>
                </a>
            </div>
        </div>
    </div>
</div>
