 <div>

            <div class="modal-header">
                <h3 class="modal-title">Imposta proprietà widget</h3>
            </div>
            <div class="modal-body">

                <table class="table"> <th colspan="">Porprietà</th>
                    <th>
                       Valore                       
                    </th>
                    <tr>
                        <td>proprietà widget</td>
                        <td></td>
                    </tr>
                    
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="">Conferma</button>
                <button class="btn btn-warning" type="button" ng-click="">Annulla</button>
            </div>
        </div>