<!--div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-include="'source/templates/templ_sidebar.html'"> </div-->
<div ng-controller="productsCtrl" class="col-sm-12 col-md-12 main">
    <div class="row">
        <h2></h2>
        <table class="table productList">
            <thead>
                <tr>
                    <th colspan="4">
                        <input class="form-control" placeholder="Search ..." type="text" ng-model="searchText"/>
                    </th>
                    <th colspan="3"></th>
                    <th>
                        <button type="button" 
                            class="btn btn-sm btn-success btn-block" ng-click="go('/addProduct')" ng-controller="addProductCtrl">
                            <i class="glyphicon glyphicon-plus"> </i> Aggiungi nuovo prodotto
                        </button>
                     </th>
                </tr>

                <tr>
                    <th ng-click="order('prodCode')">Codice
                        <span class="glyphicon sortorder" ng-show="predicate === 'prodCode'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th ng-click="order('name')">Nome
                        <span class=" glyphicon sortorder" ng-show="predicate === 'name'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th ng-click="order('descr')">Descrizione
                        <span class="glyphicon sortorder" ng-show="predicate === 'descr'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th ng-click="order('numSteps')">Numero Step
                        <span class="glyphicon sortorder" ng-show="predicate === 'numSteps'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th ng-click="order('templateCode')">Template Grafico
                        <span class="glyphicon sortorder" ng-show="predicate === 'templateCode'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th ng-click="order('favorite')">Preferito
                        <span class="glyphicon sortorder" ng-show="predicate === 'favorite'" ng-class="{'glyphicon-triangle-top':!reverse,'glyphicon-triangle-bottom':reverse}"></span>
                    </th>
                    <th>Data ultima pubblicazione
                       
                    </th>
                    <th>Ambiente
                        
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="row in productCollection | filter:searchText | orderBy:predicate:reverse track by $index" 
                    ng-click="setselectedData(row)" ng-model="row" data-idx = {{row.id}} ng-dblclick="doOpenItem(row)">
                    <td>{{row.prodCode}}</td> 
                    <td>{{row.name}}</td>
                    <td>{{row.descr}}</td>
                    <td>{{row.numSteps}}</td>
                    <td>{{row.templateCode}}</td>
                    <td>{{row.favorite}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
          
     
        </table>
    </div>
    <div class="row">
        <div class="table-footer col-md-9">
            <span class="col-md-2 col-md-offset-4"> 
                <button class="btn btn-primary" type="button" ng-click="doOpenItem()" ng-disabled='!enable_button'>Apri 
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                </button>
            </span>
            <span class="col-md-2"> 
                <button class="btn btn-primary" type="button" ng-click="doAddDublicate()"  ng-disabled='!enable_button'>Duplica 
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </button>
            </span>
            <span class="col-md-2"> 
                <button class="btn btn-primary" type="button" ng-click="doModifyItem()"  ng-disabled='!enable_button'>Modifica 
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </span>
            <span class="col-md-2"> 
                <button class="btn btn-danger" type="button" ng-click="doRemoveItem()"  ng-disabled='!enable_button'>Elimina 
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<!--/div-->