<ion-view title="VPay">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h2>VPay</h2>
        <form class="list">
            <div class="spacer" style="width: 283px; height: 14px;"></div>
            <label class="item item-input" name="Total">
                <!--<span class="input-label">Total Amount</span>-->
                <input type="number" placeholder="Total Amount" />
            </label>
            <ion-list>

              <ion-item>
                <ion-label floating>Total</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>

            </ion-list>
            <div class="spacer" style="width: 100%; height: 14px;"></div>
            <div class="spacer" style="width: 283px; height: 14px;"></div>
        </form>
        <a ui-sref="group" class="button button-balanced button-block  icon-right ion-android-arrow-forward">New</a>
        <a ui-sref="groups" class="button button-positive button-block  icon-right ion-android-arrow-forward">Exist</a>
    </ion-content>
</ion-view>