<div class="padder">
    <div class="deal-logo">
        <img src="" />
    </div>
    <div class="deal-img">
        <img src="" />
    </div>
    <div class="deal-categories deals-generic">
    </div>
    <div class="deal-title deals-generic">
        {{truncate item.name 50}}
    </div>
    <div class="deal-description deals-generic">
        <span class="content">{{{truncate item.longDescription 100}}}</span>
    </div>
    <div class="deal-price deals-generic">
        <span class="amount">{{formatNumber item.price}}</span>
    </div>
    <div class="clear"></div>
</div>