<div class="menu-in">
    <a href="#" class="back icon-arrow"></a>
    <p>DETTAGLIO OFFERTA</p>
</div>
<div class="panel-content scrollable">
    <div class="deal-content">
        <div class="deal-logo">
            {{#if base64Logo}}
                <img src="{{base64Logo}}" />
            {{/if}}
        </div>
        <div class="deal-img">
            <img id="image" src="{{base64Img}}" />
        </div>
        <div class="deal-categories deals-generic">
        </div>
        {{#if item.brand}}
        <div class="deal-title brand deals-generic">
            {{item.brand}}
        </div>
        {{/if}}
        <div class="deal-title deals-generic">
            {{truncate item.name 50}}
        </div>
        <div class="deal-description deals-generic">
            <span class="content">{{{truncate item.longDescription 900}}}</span>
        </div>


        <!--{{#is item.availability true}}
        <div class="deals-generic">
            <div class="deal-availability available">
                DISPONIBILE
            </div>
        </div>
        {{/is}}
        {{#is item.availability false}}
        <div class="deals-generic">
            <div class="deal-availability unavailable">
                NON DISPONIBILE
            </div>
        </div>
        {{/is}}-->

        <div class="deal-price deals-generic">
            <span class="amount">{{formatNumber item.price}}</span>
        </div>

        <div class="deal-button">
            <a class="deals-generic js-shop glb-btn" href="#">
                VEDI OFFERTA
                <i class="icon-shop"></i>
            </a>
        </div>

        <!--<div class="deal-button">
            <a class="deals-generic js-create-goal glb-btn" href="#">
                CREA OBBIETTIVO
                <i class="icon-shop"></i>
            </a>
        </div>-->


        <div class="clear"></div>
    </div>
</div>      