<div class="modal-dialog auth-dialog">
    <div class="backdrop"></div>
    <div class="overdrop">
        <div class="top-title">
            Cambia Password
        </div>

        <form class="control-group auth">

            <div class="separator"></div>
             
            <label>Vecchia password</label>
            <div class="input-container">
                <input type="password" autocomplete="off" placeholder="Vecchia password" class="js-validate-element-Oldpin js-input" data-target="Oldpin" name="Oldpin" id="js-Oldpin" />
            </div> 

            <label>Nuova password</label>
            <div class="input-container">
                <input type="password" autocomplete="off" placeholder="Nuova password" class="js-validate-element-Newpin js-input" data-target="Newpin" name="Newpin" id="js-Newpin" />
            </div> 

            <label>Conferma nuova password</label>
            <div class="input-container">
                <input type="password" autocomplete="off" placeholder="Conferma nuova password" class="js-validate-element-Newpinconfirm js-input" data-target="Newpinconfirm" name="Newpinconfirm" id="js-Newpinconfirm" />
            </div> 
            <div class="separator"></div>
        </form>

        <a href="#" class="glb-btn success js-submit">Conferma<i class="icon-accept"></i></a>

        <div class="bottom-box">
            <div class="close-button">
                <a href="#" class="js-cancel">
                    <i class="icon-close"></i>
                </a>
            </div>
        </div>
    </div>
</div>
