<div class="login step1 scrollable {{#if canUseFingerprint}}fingerprint-login{{/if}}">
    {{#if checksum}}
    <div class="logo-container">
    {{#if isPlusCustomer}}
            <div class="logo plus"></div>
    {{else}}
            <div class="logo"></div>
    {{/if}}
    </div>
    <form class="auth">
        <input type="hidden" name="checksum" value="{{checksum}}">

        <div class="input-container">
            <label>Password</label>
            <input type="password" autocomplete="off"
                   class="js-validate-element-pin hide-text {{#if errorMessage}} error {{/if}}" name="pin"
                   placeholder="Password">
            {{#if errorMessage}}
            <span class="help-inline error">{{{errorMessage}}}</span>
            {{/if}}
        </div>

        <div class="input-container">
            <div class="align-center">
                <a href="#" class="js-submit glb-btn complete">conferma</a>
            </div>
        </div>
        <div class="bottom-block">
            {{#if canUseFingerprint}}
            <div class="font-size-xx-large input-container"><i class="icon-fingerprint"></i></div>
            <div class="align-center font-size-large">
                Touch ID per HYPE
            </div>
            <div class="rememberMe fingerprint">
                <input style="width:15px;" id="useFingerprint" type="checkbox" checked="checked" name="useFingerprint"/>
                <label for="useFingerprint"></label>
                <div class="rememberme-checkbox-label font-size-small">Autenticami con Touch ID dalla prossima volta</span>
            </div>
            {{/if}}
            <br />
            <br />
            <div class="align-center">
                <a href="#" class="js-switch-user glb-btn rounded-ghost">Cambia Utente</a>
            </div>
        </div>
    </form>

    {{else}}
    <div class="logo-container">
        <div class="logo"></div>
    </div>

    <form class="auth">
        {{#is birthDate true}}
        {{#if errorMessage}}
        <span class="help-inline error">{{{errorMessage}}}</span>
        {{else}}
        <span class="help-inline error">Hai inserito dei dati non validi, inserisci la tua data di nascita:</span>
        {{/if}}
        {{/is}}

        {{#is email true}}
        <div class="input-container">
            <label>Email</label>
            <input type="email" autocomplete="off" class="js-validate-element-codiceinternet" name="codiceinternet"
                   placeholder="Email" value="{{codiceinternet}}">
        </div>
        {{/is}}
        <div class="input-container">
            <label>PASSWORD</label>
            <input type="password" autocomplete="off" class="js-validate-element-pin" name="pin" id="pin"
                   placeholder="Password"/>
        </div>

        {{#is birthDate true}}
        <div class="input-container">
            <label>Data di nascita <span>(gg/mm/aaaa)</span></label>
            <input autocomplete="off" type="date" class="js-validate-element-datanascita" name="datanascita"
                   placeholder="Data di nascita (GG/MM/AAAA)">
        </div>
        {{/is}}
        {{#is email true}}
        <div class="rememberMe" style="display: none;">
            <input id="rememberMe" type="checkbox" value="None" name="remember" checked="checked"/>
            <label for="rememberMe"></label>
            <span>Ricordami</span>
        </div>
        {{/is}}

        <a href="#" class="js-submit glb-btn complete">effettua login</a>
        <a href="#" class="js-reset-password reset-password-button">Password dimenticata?</a>

        <div class="padding">
            <div class="divider"></div>
        </div>
        <a href="#" class="js-register glb-btn ghost light">registrati ad Hype</a>

    </form>
    {{/if}}
</div>