<div class="login step2 scrollable">
    <div class="logo-container">
        <div class="logo"></div>
    </div>
    <form class="auth">
        {{#if isAndroid}}
        <div class="hidden input-container">
            <label>Codice di sicurezza <span>(via sms)</span></label>
            <input type="number" autocomplete="off" class="js-validate-element-pwd js-password hide-text" name="password" placeholder="Codice">
        </div>
        {{else}}
        <div class="input-container">
            <label>Codice di sicurezza <span>(via sms)</span></label>
            <input type="number" autocomplete="off" class="js-validate-element-pwd js-password hide-text" name="password" placeholder="Codice">
        </div>
        {{/if}}
        <div class="align-center">
            {{#if isAndroid}}
            <div class="js-spinner blue-spinner">
            </div>
            <p class="js-spinner android">Attesa Verifica<br />Codice via SMS ...</p>
            {{else}}
            <a href="#" class="js-submit glb-btn complete">conferma</a>
            {{/if}}
        </div>
    </form>
    {{#if isAndroid}}
    <div class="block-spinner-container">
        <a href="#" class="js-block-spinner glb-btn ghost light">
            INSERISCI MANUALMENTE
            <i class="icon-edit js-icon-edit"></i>
        </a>
    </div>
    {{/if}}
</div>