<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#"> <span class="sr-only"></span></a></li>
            <li><a href="#"></a></li>
            <!--<li><a href="#">Link 3</a></li>-->
        </ul>
    
        <div class="add_product_widgets row">
            <div ng-repeat="(listName, list) in models.lists">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categoria Widget {{listName}}</h3>
                    </div>
                    <div class="panel-body" ng-include="'source/templates/widgets.html'"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-9 col-md-10 main">
        <!--h1 class="page-header">Prodotto</h1-->
        <div class="row placeholders"></div>
        
        <h1>Create Product Widgets</h1>

        <div class="alert alert-success">
            <strong>Instructions:</strong>
            Drag &amp; drop a widget to add to the Product.
        </div>

        <div class="row">
            <div class="col-md-4 hide">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Generated Model</h3>
                    </div>
                    <div class="panel-body">
                        <pre class="code">{{modelAsJson}}</pre>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>