<div ng-controller="productsCtrl">
    <h2></h2>
	<table st-table class="table table-striped">
		<thead>
			<tr>
				<th colspan="4">
				    <input st-search="" class="form-control" placeholder="Search ..." type="text" />
				</th>
				<th>
				    <button type="button" 
						class="btn btn-sm btn-success" ng-click="go('/addProduct')" ng-controller="addProductCtrl">
						<i class="glyphicon glyphicon-plus"> </i> Aggiungi nuovo prodotto
					</button>
			     </th>
			</tr>

			<tr>
				<th>Codice</th>
				<th>Nome</th>
				<th>Descrizione</th>
				<th>Numero Step</th>
				<th>Template Grafico</th>
				<th>Preferito</th>
				<th>Data ultima pubblicazione</th>
				<th>Ambiente</th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="row in productCollection" ng-click="setselectedData(row)" >
				<td>{{row.prodCode}}</td>
				<td>{{row.name}}</td>
				<td>{{row.descr}}</td>
				<td>{{numberofSteps}}</td>
				<td>{{row.templateCode}}</td>
				<td>{{row.favorite}}</td>
				<td>Data ultima pubblicazione</td>
				<td>Ambiente</td>
			</tr>
		</tbody>
	</table>
      <button class="btn btn-primary" type="button" ng-click="cancel()">Apri</button>
      <button class="btn btn-primary" type="button" ng-click="cancel()">Duplica</button>
    <button class="btn btn-primary" type="button" ng-click="doModifyItem()">Modifica</button>
    <button class="btn btn-danger" type="button" ng-click="doRemoveItem()">Elimina</button>
  
</div>