<div class="preloader"> 
	<div class="backdrop">
	</div>
	<div class="status">
		<div class="spinner"></div>
		<span>Attendi</span>

		<!--div class="loading-text">
			<div class="message text-1">
				Qualche istante di attesa.<br/>
				Approfittane per un po’ di stretching alle dita.
			</div>
			<div class="message text-2">
				Solo qualche istante.<br/>
				Una piccola attesa, per una grande esperienza. 
			</div>
			<div class="message text-3">
				Solo qualche secondo.<br/> 
				Intanto guarda lontano, aiuta a riposare la vista.
			</div>
		</div-->
	</div>
</div>