<div id="main-region">
    <div id="top-navigation" class="menu-in">
        <a href="#" class="icon-menu js-toggle-menu"></a>
        <p>La mia carta</p>
    </div>
    <div class="panel-content scrollable">
        <div class="card-page">
            <div id="card-action-container">
                <div class="action-container request">
                    <div class="caption page-description">
                        Con <span class="highlight">HYPE</span> puoi avere anche una carta fisica per effettuare acquisiti in negozi e prelevare gratuitamente presso qualsiasi sportello ATM. Richiedila, <span class="highlight">&egrave; gratis!</span>
                    </div>
                    <a href="#" class="js-request glb-btn complete">
                    Richiedi carta fisica
                    <i class="icon-arrow-dx"></i>
                </a>
                </div>
                <div class="action-container activate">
                    <div class="caption page-description">
                        Hai ricevuto la tua carta? Attivala ora inserendo il codice CVV che trovi sul retro della carta.
                    </div>
                    <a href="#" class="js-activate glb-btn complete">
                    Abilita carta fisica
                    <i class="icon-arrow-dx"></i>
                </a>
                </div>
                <div class="action-container glb-btn success complete">
                    <a href="#" class="js-locked glb-btn delete">
                    Carta bloccata
                </a>
                </div>
                <div class="space-line"></div>
            </div>
            <a class="turn-card">
            </a>
            <div class="card-container">
                <div class="virtual-card">
                    <div class="front {{lowercase customer}}">
                        {{#if pan}}
                        <div class="pan">
                            {{splitPAN pan}}
                        </div>
                        <div class="initialPan">
                            {{initialPan}}
                        </div>
                        {{/if}}
                        <div class="expire">
                            <div class="card-exp-label">
                                <span>VALID<br />THRU:</span>
                            </div>
                            <div class="font-size-small card-exp-date">
                                {{expireDate expirationDate}}
                            </div>
                        </div>
                    </div>
                    <div class="retro {{lowercase customer}}">
                        <div class="cvv">
                            <span>cvv:</span> {{cvv}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="card-toggles-wrapper">
                <div class="space-line"></div>
                <div id="card-toggles-caption">
                    <div class="caption show-if-active">
                        <div class="play{{#unless anyFunctionalities}} hidden{{/unless}}">
                            <div class="caption-header">
                                <div class="icon-unlocked"></div>
                                Carta attiva
                            </div>
                            <div class="caption-body">
                                Quando non usi la carta,
                                <br/> basta un tap per metterla in pausa:
                                <br/> nessuno potr&agrave; utilizzarla se non la riattivi.
                            </div>
                        </div>
                        <div class="pause{{#if anyFunctionalities}} hidden{{/if}}">
                            <div class="caption-header">
                                <div class="icon-locked"></div>
                                Carta in pausa
                            </div>
                            <div class="caption-body">
                                La carta ora &egrave; in pausa
                                <br/> e nessuno la pu&ograve; utilizzare.
                                <br/> Puoi riattivare la carta in qualsiasi momento con un tap.
                            </div>
                        </div>
                    </div>
                    <div class="caption show-unless-active">
                        <div class="play{{#unless operativitaECOMMERCE}} hidden{{/unless}}">
                            <div class="caption-header">
                                <div class="icon-unlocked"></div>
                                Carta attiva
                            </div>
                            <div class="caption-body">
                                Quando non usi la carta,
                                <br/> basta un tap per metterla in pausa:
                                <br/> nessuno potr&agrave; utilizzarla se non la riattivi.
                            </div>
                        </div>
                        <div class="pause{{#if operativitaECOMMERCE}} hidden{{/if}}">
                            <div class="caption-header">
                                <div class="icon-locked"></div>
                                Carta in pausa
                            </div>
                            <div class="caption-body">
                                La carta ora &egrave; in pausa
                                <br/> e nessuno la pu&ograve; utilizzare.
                                <br/> Puoi riattivare la carta in qualsiasi momento con un tap.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card-toggles">
                    <div id="main-switch-wrapper">
                        <div class="hype-toggle {{activeFunctionality anyFunctionalities}} operativitaATM operativitaPOS operativitaECOMMERCE show-if-active js-switch" data-target="all">
                            <div class="switch">
                                <div class="switch-img"></div>
                            </div>
                        </div>
                        <div class="hype-toggle {{activeFunctionality operativitaECOMMERCE}} operativitaECOMMERCE js-switch show-unless-active" data-target="web">
                            <div class="switch">
                                <div class="switch-img"></div>
                            </div>
                        </div>
                    </div>
                    <div id="min-switches-wrapper" class="show-if-active">
                        <div>
                            <div class="hype-toggle-caption operativitaECOMMERCE">
                                <div class="icon-{{activeFunctionalityPadlock operativitaECOMMERCE}}"></div>
                                <div class="main-text">Acquisti online</div>
                                <div class="locked-text {{activeFunctionalityPadlock operativitaECOMMERCE}}">Hai disattivato la carta per gli acquisti su internet e tramite wallet.
                                </div>
                            </div>
                            <div class="hype-toggle min {{activeFunctionality operativitaECOMMERCE}} operativitaECOMMERCE js-switch show-if-active" data-target="web">
                                <div class="switch">
                                    <div class="switch-img"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="hype-toggle-caption operativitaPOS">
                                <div class="icon-{{activeFunctionalityPadlock operativitaPOS}}"></div>
                                <div class="main-text">Acquisti in negozio</div>
                                <div class="locked-text {{activeFunctionalityPadlock operativitaPOS}}">Hai disattivato gli acquisti nei negozi con carta di pagamento fisica.
                                </div>
                            </div>
                            <div class="hype-toggle min {{activeFunctionality operativitaPOS}} operativitaPOS js-switch show-if-active" data-target="pos">
                                <div class="switch">
                                    <div class="switch-img"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="hype-toggle-caption operativitaATM">
                                <div class="icon-{{activeFunctionalityPadlock operativitaATM}}"></div>
                                <div class="main-text">Prelievi bancomat</div>
                                <div class="locked-text {{activeFunctionalityPadlock operativitaATM}}">Hai disattivato il prelievo di contanti presso gli sportelli ATM.
                                </div>
                            </div>
                            <div class="hype-toggle min {{activeFunctionality operativitaATM}} operativitaATM js-switch show-if-active" data-target="atm">
                                <div class="switch">
                                    <div class="switch-img"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-line"></div>
            </div>
            <div id="card-recharge-container">
                <div class="card-status">
                    Dal <span class="date">{{niceDate renewDate}}</span> hai ricaricato la tua carta di
                </div>
                <div class="price">
                    <span class="amount">{{formatNumber level}}</span>
                </div>
                <div class="progress-bar status-{{percentage}}">
                    <div class="color"></div>
                    <div class="back"></div>
                </div>
                <div class="card-limit">
                    su
                    <span class="amount">&euro; {{levelYear}}</span> limite annuo massimo
                </div>
            </div>
        </div>
        {{#is customer 'HYPE'}} {{#unless isPlus}}
        <div id="card-plus-container" class="action-container plus">
            <div class="card-page">
                <div class="title alternative-font font-size-medium">
                    Vai oltre i limiti di HYPE
                </div>
                <div class="description">
                    Passa a HYPE <strong>PLUS</strong>: puoi accreditare il tuo stipendio e aumentare i tuoi obiettivi
                </div>
                <a href="#" class="js-plus glb-btn complete">
                    Scopri HYPE PLUS!
                    <i class="icon-arrow-dx"></i>
                </a>
            </div>
        </div>
        {{/unless}} {{/is}}
    </div>
</div>
