<!--div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-include="'source/templates/templ_sidebar.html'"> </div-->
    <div class="col-sm-12 col-md-12 main">

        <div class="col-sm-2"></div>
        <div ng-controller="addProductCtrl" class="col-sm-8">

            <div class="modal-header">
                <h3 class="modal-title">Nuovo prodotto</h3>
            </div>
            <div class="modal-body col-sm-12 newPrdtForm">

                <table class="col-sm-12 table">
                    <tr>
                        <td colspan="2"><label for="prodCode"> Codice Prodotto:</label></td>
                        <td colspan="3">
                            <input class="col-sm-12 form-control" name="prodCode" type="text" id="prodCode" required>
                            <br />
                            <div ng-show="form.$submitted || form.prodCode.$touched">
                              <div ng-show="form.prodCode.$error.required">Provide the Codice Prodotto.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><label for="name">Nome prodotto:</label></td>
                        <td colspan="3">
                            <input class="col-sm-12 form-control" name="name" type="text" id="name">
                            <br />
                            <div ng-show="form.$submitted || form.name.$touched">
                              <div ng-show="form.name.$error.required">Provide the Nome Prodotto.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><label for="descr">Descrizione prodotto:</label></td>
                        <td colspan="3">
                            <input class="col-sm-12 form-control" name="descr" type="text" id="descr">
                            <br />
                            <div ng-show="form.$submitted || form.descr.$touched">
                              <div ng-show="form.descr.$error.required">Provide the Nome Prodotto.</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="numberofSteps">Numero di step:</label></td>
                        <td><select class="col-sm-12 form-control" type="text" name="numberofSteps"
                            id="numberofSteps"><option val=1>1</option>
                            <option val=2>2</option>
                            <option val=3>3</option>
                            <option val=4>4</option>
                            <option val=5>5</option>
                            <option val=6>6</option>
                            <select></td>
                        <td><label for="templateCode">Template Grafico:</label></td>
                        <td><select class="col-sm-12 form-control" type="text" name="templateCode" 
                            id="templateCode">
                            <option val="GRAF1">GRAF1</option>
                            <option val="GRAF2">GRAF2</option>
                            <option val="GRAF3">GRAF3</option>
                            <option val="GRAF4">GRAF4</option>
                            <option val="GRAF5">GRAF5</option>
                            <option val="GRAF6">GRAF6</option>
                            <select></td>
                    </tr>
                </table>


            </div>
            <div class="modal-footer">
                 <button class="btn btn-warning" type="button" ng-click="go('/')">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> &#32; Annulla</button>
                <button class="btn btn-primary" type="button" ng-click="doConfirm()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> &#32; Conferma</button>
               
            </div>
        </div>
    </div>
<!--/div-->