<div class="menu-in">
    <a href="#" class="icon-arrow js-back"></a>
    <p>INVITA I TUOI AMICI AD HYPE</p>
</div>
<div class="panel-content scrollable">
    <p class="share-element big-title">
        Invita i tuoi amici<br />a provare HYPE
    </p>
    <div class="share-image-container share-element">
        <div class="share-image"></div>
    </div>
    <div class="page-description share-element">
        Semplice, gratuito, per tutti
    </div>
    <a href="#" class="js-share glb-btn complete share-element">
        INVIA INVITO
        <i class="icon-share"></i>
    </a>
    <!-- <div class="share-element">
        <a href="#">
            termini e condizioni
        </a>
    </div> -->
</div>