<form>
    <div id="top-navigation" class="menu-in">
        <a href="#" class="icon-menu toggle-menu"></a>
        <p>Ricarica telefono</p>
    </div>

    <div class="payments">
        <p class="text">
            Ricarica il <input type="number" name="numcell" id="numcell" class="phone-number" placeholder="Numero" /> della
            <span class="mark" id="operators"></span> con
            <span class="mark" id="cuts"></span> &euro;
            <span id="balance"></span>
        </p>
        <div class="align-center">
            <a href="#" class="js-submit glb-btn success">
                Continua <span class="icon-accept"></span>
            </a>
        </div>
    </div>

    <input type="hidden" name="manager" />
    <input type="hidden" name="amount" />
</form>

<div class="js-result"></div>
