
<div class="modal-dialog resume-dialog">
	<div class="backdrop"></div>
	<div class="overdrop">
		<div class="top-title">
			Stai ricaricando di
		</div>

		<div class="total-amount">
			{{formatNumber amount}} 
		</div>

		<div class="description">
			il numero <span class="reference">{{mobilePhoneNumber phoneNumber}}</span><br/>
			dell&apos;operatore <span class="reference">{{operatorName}}</span>
		</div>

		<div class="button-container">
            <a href="#" class="glb-btn success js-confirm">Conferma<i class="icon-accept"></i></a>
        </div>

		<div class="bottom-box">
			<div class="close-button">
				<a href="#" class="js-cancel">
					<i class="icon-close"></i>
				</a>
			</div>
		</div>
	</div>
</div>
