<div id="main-region">
    <div id="top-navigation" class="menu-in">
        {{#if transferOnly }}
        <a href="#" class="icon-menu js-toggle-menu"></a>
        {{else}}
        <a href="#" class="icon-arrow js-back"></a>
        {{/if}}

        {{#if id }}
            <p class="contact-title">Modifica contatto</p>
        {{else}}
            {{#if transferOnly }}
                <p class="contact-title">Invia Bonifico</p>
            {{else}}
                <p class="contact-title">Invia ad un nuovo contatto</p>
            {{/if}}
        {{/if}}

    </div>

    <div class="money-transfer-form scrollable panel-content">
        <form>
            {{#if transferOnly}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Nome o Nominativo</h4>
                    <div class="input-container transfer-field">
                        <input id="entity-firstName" placeholder="Nome o Nominativo" name="firstName" type="text" />
                    </div>
                </div>
            </div>
            <input id="entity-lastName" name="lastName" type="hidden" />
            {{else}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Nome</h4>
                    <div class="input-container transfer-field">
                        <input id="entity-firstName" placeholder="Nome" name="firstName" type="text" />
                    </div>
                </div>
            </div>
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Cognome</h4>
                    <div class="input-container transfer-field">
                        <input id="entity-lastName" placeholder="Cognome" name="lastName" type="text" />
                    </div>
                </div>
            </div>
            {{/if}}            

            {{#if transferOnly}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>IBAN</h4>
                    <div class="input-container transfer-field">
                        <input id="entity-destination" placeholder="IT40S0542811101000000123456" value="" name="destination" type="text" />
                    </div>
                </div>
            </div>
            {{else}}
            <div class="input-wrapper">
                <div class="input-field">
                    <h4>Alias</h4>
                    <div class="input-container transfer-field">
                        <input id="entity-destination" placeholder="Email, Telefono, IBAN" value="" name="destination" type="text" />
                    </div>
                </div>
            </div>
            {{/if}}
             
            <div class="actions">
                <div class="description send-description">
                    <!--Il nuovo contatto ricever&agrave; la notifica di invio denaro
                    e l'invito di registrazione ad Hype. Il ricevente ha 10
                    giorni per accettare, terminati i quali l'invio di denaro
                    sar&agrave; cancellato.-->
                </div>
                <div class="description request-description">
                    <!--Il nuovo contatto ricever&agrave; la notifica di richiesta denaro
                    e l'invito di registrazione ad Hype. Il ricevente ha 10
                    giorni per accettare, terminati i quali l'invio di denaro
                    sar&agrave; cancellato.-->
                </div>
                <br />
                {{#unless id}}
                <div class="check">
                    <input id="check" type="checkbox" value="None" class="js-una-tantum"/>
                    <label for="check"></label>
                    <span>Salva in rubrica</span>
                </div>
                <br />
                <br />

                {{/unless}}

                <a href="#" class="glb-btn success js-submit">Conferma<i class="icon-accept"></i></a>         
                {{#unless id}}
                    <a href="#" class="glb-btn delete js-back">Annulla<i class="icon-reject"></i></a>       
                {{else}}
                    <a href="#" class="glb-btn delete js-delete">Elimina<i class="icon-trash"></i></a>       
                {{/unless}}
            </div>

        </form>
    </div>
</div>
