<div id="main-region">
    <div id="top-navigation" class="menu-in">
        <a href="#" class="icon-arrow js-back"></a>
        <p>Attiva carta</p>
    </div>
    <div class="card-page card-activation panel-content scrollable">
        <form>
            <h3>Per attivare la tua nuova carta fisica inserisci il cvv che puoi trovare nel retro</h3>
            
            <div class="card-container">
                <div class="virtual-card rotate">
                    <div class="retro">
                        <div class="cvv">
                            <input type="number" id="entity-cvv" name="cvv" placeholder="CVV"/>
                        </div>
                    </div>
                </div>
            </div>

            <span class="js-result"></span>
        </form>

        <a href="#" id="activate-button" class="glb-btn success inactive js-submit">
            Conferma abilitazione
            <i class="icon-accept"></i>
        </a>

    </div>

</div>