
<div>
    <a href="#" class="navigate" data-trigger="user:profile" data-event="profile">
        <img class="image" src="assets/images/penna-occhiali.svg">
        <span class="text">Gestisci Profilo</span>
    </a>
</div>
<div>
    <a href="#" class="navigate" data-trigger="user:stats" data-event="navigate">
        <img class="image" src="assets/images/statistiche.svg">
        <span class="text">Statistiche</span>
    </a>
</div>
<div>
    <a href="#" class="navigate" data-trigger="user:coordinates" data-event="navigate">
        <img class="image" src="assets/images/documento.svg">
        <span class="text">Coordinate Bancarie</span>
    </a>
</div>
<div>
    <a href="#" class="navigate" data-trigger="user:notifications" data-event="navigate">
        <img class="image" src="assets/images/notifica.svg">
        <span class="text">Imposta Notifiche</span>
    </a>
</div>
<div>
    <a href="#" class="js-sellabox" data-trigger="user:coordinates" data-event="navigate">
        <img class="image" src="assets/images/documents.svg">
        <span class="text">Documenti</span>
    </a>
</div>
<div class="">
    <a href="#" class="js-help" data-trigger="user:notifications" data-event="navigate">
        <img class="image" src="assets/images/help.svg">
        <span class="text">Help</span>
    </a>
</div> 