<div class="main-user-picture-container">
    <div id="main-user-picture">
    </div>
    <div class="overlay-gradient">
    </div>
</div>
<div id="main-user-data">
    <div class="user-image-container">
        <div class="image">
            <div id="image-region" class="camera-block">
            </div>
        </div>
        {{#if loadingImage}}
        <div class="baloon-image-container loading show-profile">
            <div id="user-resume-image" class="baloon" style="background-image: url(data:image/png;base64,{{imageBase64}})">
            </div>
        </div>
        {{else}}
        <div class="baloon-image-container show-profile">
            <div id="user-resume-image" class="baloon" style="background-image: url(data:image/png;base64,{{imageBase64}})">
            </div>
        </div>
        {{/if}}
    </div>
    <div class="username">
        <p class="nickname">
            {{nickname}}
        </p>
        {{#unless isPlusCustomer}}
            {{#unless isYooxCustomer}}
            <p>
                <a class="global-btn rounded-ghost js-plus" href="#">
                    PASSA A HYPE PLUS
                </a>
            </p>
            {{/unless}}
        {{/unless}}
    </div>
    <div class="item">
        <span class="number">{{expenses}}</span>
        <span class="text">Spese</span>
    </div>
    <div class="item">
        <span class="number">{{incomes}}</span>
        <span class="text">Entrate</span>
    </div>
    <div class="item">
        <span class="number">{{goals}}</span>
        <span class="text">Obiettivi</span>
    </div>
    <p class="info-text">Dati relativi al mese corrente</p>
</div>
