<div class="menu-in">
    <a href="#" class="icon-arrow back"></a>
    <p>Seleziona luogo</p>
</div>
<form class="form-search form-inline pull-right merchant-search-form">
    <div class="search-panel">
        <div class="icon-lens"></div>
        <input type="text" placeholder="Ricerca luogo" class="search-query js-filter-criterion">
        <div class="loading-contacts" style="display:none;"></div>  
    </div>
</form>

<!--<a href="#" class="btn btn-small" id="js-add-venue">
        <i class="icon-eye-open"></i>
        Aggiungi questo venue
    </a>-->