<div class="row">
            
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label" for="nome">Nome*</label>
						<input class="form-control" type="text" name="nome" id="nome">
					</div>
				</div>
                
                <div class="col-sm-6">
					<div class="form-group">
						<label class="control-label" for="cognome">Cognome*</label>
						<input class="form-control" type="text" name="cognome" id="cognome">
					</div>
				</div>
                
			</div>