<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-include="'source/templates/templ_sidebar.html'"> </div>
    <div class="col-sm-9 col-md-10 main">

        <div class="col-sm-2"></div>
        <div ng-controller="addProductCtrl" class="col-sm-8">

            <div class="modal-header">
                <h3 class="modal-title">Nuovo prodotto</h3>
            </div>
            <div class="modal-body col-sm-12 newPrdtForm">

                <table class="col-sm-12 table">
                    <tr>
                        <td colspan="2">Codice Prodotto:</td>
                        <td colspan="3"><input class="col-sm-12" type="text"
                            id="prodCode"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Nome prodotto:</td>
                        <td colspan="3"><input class="col-sm-12" type="text"
                            id="name"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Descrizione prodotto:</td>
                        <td colspan="3"><input class="col-sm-12" type="text"
                            id="descr"></td>
                    </tr>
                    <tr>
                        <td>Numero di step:</td>
                        <td><select class="col-sm-12" type="text"
                            id="numberofSteps"><select></td>
                        <td>Template Grafico:</td>
                        <td><select class="col-sm-12" type="text"
                            id="templateCode"><select></td>
                    </tr>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="doConfirm()">Conferma</button>
                <button class="btn btn-warning" type="button" ng-click="go('/')">Annulla</button>
            </div>
        </div>
    </div>
</div>