<h2>
    <i class="icon-balance"></i>Il saldo della tua carta
</h2>
<div class="graph">
    <span class="y axis"></span>
    <div class="linea-div"></div>
    <div class="graph-box">
        <div class="graph-rect">
            <span class="graph-date"></span>
            <span class="graph-value"></span>
        </div>
        <div class="graph-triangle"></div>
    </div>
    <div id="chart" class="user-stats-box"></div>
</div>

<div class="obj-magnet-with-two-side-items stats-resume no-center">
    <div class="block prev">
        <div class="amount-left js-show-pie active" data-target="incomesResume">
            <!--p class="stats-amount income">{{incomesResume.totalAmount}}<span class="euro">€</span></p-->
            <a href="#" class="stats-link">entrate</a>
        </div>
    </div>
    <div class="block center"></div>
    <div class="block next">
        <div class="amount-right js-show-pie" data-target="outcomesResume">
            <!--p class="stats-amount outcome">{{outcomesResume.totalAmount}}<span class="euro">€</span></p-->
            <a href="#" class="stats-link">uscite</a>
        </div>
    </div>
</div>

<div class="clearfix"></div>