<div class="obj-magnet-with-two-side-items stats-user-actions-container">
    <div class="block prev">
        <a href="#" data-action="subtract" class="js-month prev">
            <i class="icon-smallArrowSx"></i>
        </a>
    </div>
    <div class="block center">
        <p class="js-monthname">mese</p>
    </div>
    <div class="block next">
        <a href="#" data-action="add" class="js-month next">
            <i class="icon-smallArrowDx"></i>
        </a>
    </div>
</div>