<div class="">
    {{#is type 'outcomesResume' }}
        <h2>Le tue categorie di spesa</h2>
    {{else}}
        <h2>Le tue categorie di entrata</h2>
    {{/is}}
	<div class="stats-month-resume {{type}}">
		
		<div class="chart-container">
			<div id="pie" class="pie-chart"></div>

			<div class="pie-price">

				<div class="price">
					<span class="amount">{{formatNumber totalAmount}}</span>
				</div>
			</div>

			<ul id="list" class="pie-details"></ul>
		</div>
	</div>
</div>