
{{#if loading}}
<div class="loading-movements">
</div>
{{else}}
<div class="goals-movements-list-item movement {{ type }} {{ subType }}">
    <div class="date">
        {{niceDate date}}
    </div>
    <div class="body">
        <p class="title">
            {{#if merchant }}
            {{ merchant.name }}
            {{else}}
            {{ capitalize title }}
            {{/if}}
        </p>
        <p class="price small">
            <span class="amount">{{formatNumber amount}}</span>
        </p>
    </div>
</div>
{{/if}}