<header class="menu-in">
    <a href="#" class="icon-arrow js-back"></a>
    <p>Obiettivo</p>
</header>
<div class="panel-content scrollable completed obiettivo-block">
    <div class="movements-container">
        <div class="action-block">
            <div class="block">
                <div>
                    <h5>Obiettivo Completato</h5>

                    <div class="display-associated-movements js-movements" style="display: block;">
                        <span class="subtitle">
                            Spese associate:
                        </span>
                        <div id="movements-region"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="mov-list">
        </div>
    </div>
</div>