<div class="goal-blocker hidden"></div>
<header class="menu-in">
    <a href="#" class="icon-arrow js-back"></a>
    {{#is paused true}}
    <p>Obiettivo in pausa</p>
    {{else}}
    {{#is suspended true}}
    <p>Obiettivo in pausa</p>
    {{else}}
    <p>Obiettivo in corso</p>
    {{/is}}
    {{/is}}
    <a class="right-ctrl js-more"><i class="icon-more"></i></a>
</header>

<div class="panel-content scrollable ">
    <div id="profile-region" class="obiettivo-block {{#is paused}} paused {{/is}}">

        <div id="top-image" class="top-image-title-container">
            <div class="ob-title">
                <div id="dropdown-region" class="dropdown-categories">
                    <!-- selettore categoria obiettivo -->
                </div>
                <br />
                {{ title }}
            </div>
        </div>


        <div class="center-info-block">
            <div class="status-block">
                <div class="status-line">
                    Dal {{niceDate startDate}} hai messo da parte
                </div>

                <div class="info-line">
                    <div class="price">
                        <span class="amount">{{formatNumber currentAmount}}</span>
                    </div>
                    <div class="total">
                        su <span class="amount">{{formatNumber total}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="progress-bar status-{{percentageString percentage}}">
                    <div class="color"></div>
                    <div class="back"></div>
                </div>
                {{#unless paused}}
                {{#unless suspended}}
                <div class="check">
                    <input id="check" type="checkbox" class="js-complete">
                    <label for="check"></label>
                    <span>Ho raggiunto il mio obiettivo</span>
                </div>
                {{/unless}}
                {{/unless}}

            </div>
        </div>

        <div class="share-container">
            {{#if shared}}
                <a class="fb-share js-share shared"><i class="icon-fbshare"></i>&nbsp;</a>
            {{else}}
                <a class="fb-share js-share"><i class="icon-fbshare"></i>&nbsp;</a>
            {{/if}}
        </div>
        <div class="clearfix"></div>
        
        <div class="action-block padding border-top border-bottom">
            <div class="block">
                {{#is paused true}}
                <div class="">
                    <h5>Obiettivo in pausa</h5>
                    <div class="hype-toggle min js-play pause" data-target="web">
                        <div class="switch">
                            <div class="switch-img"></div>
                        </div>
                    </div>
                    <span class="subtitle">
                        Puoi riattivare il risparmio quando vuoi
                    </span>
                    <span class="text">
                        Risparmierai
                        <span class="cash">{{formatNumber dailyRate}}</span>
                        al giorno
                    </span>
                </div>
                {{else}}
                {{#unless suspended}}
                <div class="">
                    <h5>Obiettivo attivo</h5>
                    <div class="hype-toggle min js-pause play" data-target="web">
                        <div class="switch">
                            <div class="switch-img"></div>
                        </div>
                    </div>
                    <span class="subtitle">
                        Puoi sospendere il risparmio quando vuoi
                    </span>
                    <span class="text">
                        Stai risparmiando
                        <span class="cash">{{formatNumber dailyRate}}</span>
                        al giorno
                    </span>
                </div>
                {{/unless}}
                {{/is}}
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <div class="js-deals hidden deals-title">
            Potrebbero interessarti anche:
        </div>
        <div id="deals-region" class="js-deals hidden">
        </div>
    </div>
    <div id="image-profile-region" class="camera-block">
        <!-- pulsante per avviare selezione foto -->
    </div>
</div>

<div id="image-show-region">
    <!-- pulsante per avviare selezione foto -->
</div>
