<div class="backdrop"></div>
<div class="overdrop">
    <div class="top-title">Attenzione</div>
    <div class="title">
        {{{title}}}
    </div>
    <div class="description">
        {{{description}}}
    </div>
    <form>
        <div class="input-container js-firstName-container">
            <input type="email" id="entity-email" name="email" />
        </div>
    </form>
    <a href="#" class="confirm-button js-confirm">
            {{{button}}}
    </a>
    <div class="bottom-box">
        <a href="#" class="close-button js-cancel">
            <i class="icon-close"></i>
        </a>
    </div>
</div>