<div class="menu-in">
    <a href="#" class="icon-arrow back"></a>
    {{#if recharge}}
    <p>COORDINATE IBAN PER BONIFICO</p>
    {{else}}
    <p>Coordinate</p>
    {{/if}}
</div>

<!-- TODO: aggiungere panel -->
<div id="form-region" class="coordinate full-width-list panel-content scrollable">
    {{#if recharge}}
    <div class="page-description">
        Ecco le coordinate del tuo conto HYPE: puoi
        inviarle via email per avere i dati necessari ad
        effettuare un bonifico.
    </div>
    {{/if}}
    <div class="field line">
        <span class="title">Codice paese</span>
        <span class="value">{{countryCode}}</span>
    </div>
    <div class="field line">
        <span class="title">Cin europeo</span>
        <span class="value">{{europeanCin}}</span>
    </div>
    <div class="field line">
        <span class="title">Cin</span>
        <span class="value">{{cin}}</span>
    </div>
    <div class="field line">
        <span class="title">Abi</span>
        <span class="value">{{abi}}</span>
    </div>
    <div class="field line">
        <span class="title">Cab</span>
        <span class="value">{{cab}}</span>
    </div>
    <div class="field line">
        <span class="title">accountNumber</span>
        <span class="value">{{accountNumber}}</span>
    </div>
    <div class="field line">
        <span class="title">iban</span>
        <span class="value">{{iban}}</span>
    </div>
    <div class="actions">
        <a href="#" class="glb-btn complete js-send-mail">
            Spedisci via mail <i class="icon-mail"></i>
        </a>
    </div>
</div>
