<div class="menu-in">
    <a href="#" class="back icon-arrow"></a>
    <p>Trasferisci fondi</p>
</div>

<div class="ob-transfer panel-content scrollable">
    <form>
        <div class="amount-wrapper">
            <div class="amount-block">
                <h4>Importo Totale</h4>
                <div class="amount-container">
                    <span class="euro">&euro;</span>
                    <div id="entity-total" class="amount">0</div>
                    <input type="hidden" name="amount" value="0" />
                </div>
            </div>

            <div id="keyboard-region" class="keyboard-container border">

            </div>
        </div>        

        <div id="form-region">
            <div class="message help-inline error"></div>

            <div class="transfer-container">
                <div id="transfer-resume-sender-container">
                    <div class="transfer-item">
                        <div class="baloon-container">
                            <div class="baloon">
                                <i class="show-on-error icon-reject"></i>
                                <div class="price small">
                                    <div class="amount" id="transfer-goal-amount">
                                        {{formatNumber goal.currentAmount }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Obiettivo</h4>
                    </div>
                </div>

                <div id="transfer-arrow-container">
                    <div class="direction-line js-viceversa">
                        <i class="arrow"></i>
                    </div>
                </div>

                <div id="transfer-resume-container">
                    <div class="transfer-item">
                        <div class="baloon-container">
                            <div class="baloon">
                                <i class="show-on-error icon-reject"></i>
                                <div class="price small">
                                    <div class="amount" id="transfer-spendable-amount">
                                        {{formatNumber financial.spendable }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Puoi Spendere</h4>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <a id="transfer-submit-button" href="#" class="btn btn-small js-confirm glb-btn success">
                Trasferisci <span class="icon-transfer"></span>
            </a>

        </div>
    </form>


</div>

