<div id="main-region">
    <header id="top-navigation" class="menu-in detailed">
        <a href="#" class="icon-arrow back"></a>

        <div class="amount sufficient-sts">
            {{#if id }}
            <p>Modifica Obiettivo</p>
            {{else}}
            <p>Aggiungi obiettivo</p>
            {{/if}}
            <span>Puoi spendere &euro; <i class="sts-left">{{sts}}</i></span>
        </div>

        <div class="amount insufficient-sts">
            <p>"Puoi spendere" superato</p>
            <span>Devi recuperare &euro; <i class="sts-left">{{sts}}</i></span>
        </div>

    </header>

    <div class="ob-edit-create panel-content scrollable">
        <div class="edit-block">

            <form>
                <div class="amount-wrapper">
                    <div class="amount-block js-validate-element-total">
                        <h4>Importo Totale</h4>
                        <input type="hidden" name="total" value="{{total}}" />
                        <div class="amount-container">
                            <span class="euro">&euro;</span>
                            <div id="entity-total" class="amount">{{total}}</div>
                        </div>
                    </div>

                    <div id="keyboard-region" class="keyboard-container border">

                    </div>
                </div>

                <div class="input-field js-validate-element-title">
                    <h4>Cosa vuoi acquistare?</h4>
                    <div class="input-container">
                        <input id="js-title" name="title" class="ob-title" placeholder="es. Mountain Bike" value="{{title}}" />
                    </div>
                </div>

                <!--div id="dropdown-region" class="dropdown-categories"></div-->

                <div class="input-field">
                    <h4>Entro</h4>
                    <div class="input-container">
                        <input type="date" class="js-validate-element-endDate" placeholder="GG/MM/AAAA" name="endDate" />
                    </div>
                </div>

                <div class="ob-status">
                    <div class="da-parte">
                        Hai già messo da parte: <div class="relative"><input id="entity-currentAmount" type="number" onfocus="this.type='number'" onblur="this.type='text'" placeholder="Importo iniziale" class="current js-validate-element-current" name="currentAmount" data-target="currentAmount" /><span class="current">€</span></div>
                    </div>
                    <div class="current-slider">
                        <input class="bar" type="range" id="currentAmount-slider" step="1" max="100" />
                    </div>
                    <div class="info">Scorri per modificare la percentuale di completamento dell’obiettivo.</div>
                </div>

                <div class="bottom-line">
                    <span class="icon-info"></span>
                    <span class="content">Risparmierai <span id="daily-amount" class="money highlight"></span><span class="money highlight">€</span> al giorno</span>
                </div>
            </form>

            <div class="padding align-center">
                <a href="#" class="js-submit start-action glb-btn success">
                    Salva
                    <i class="icon-accept "></i>
                </a>
            </div>

        </div>
    </div>
</div>
