<div id="main-region">
    <div id="top-navigation" class="menu-in detailed">
        <a href="#" class="icon-menu js-toggle-menu"></a>
        <p>Ricarica Hype</p>
        <span>Scegli modalità di ricarica</span>
    </div>
    <div class="panel-content scrollable">
        <div class="page-content">
            <div class="choice js-recharge-via-card">
                <div class="image by-card"></div>
                <p class="title">
                    Ricarica con Carta
                </p>
                <p class="coming-soon description">
                    Coming soon...
                </p>
                <p class="description">
                Ricarica HYPE con una qualsiasi carta di credito: &egrave; GRATIS!<br /><br />
                    Collega le carte con le quali vuoi ricaricare HYPE dall&#39; apposita sezione.
                </p>
            </div>
            <div href="#" class="choice js-recharge-via-transfer">
                <div class="image by-transfer"></div>
                <p class="title">Coordinate IBAN <br />
                per bonifico</p>
                <p class="description">
                    Ricarica HYPE mediante un bonifico da qualsiasi conto corrente verso l&#39; IBAN di HYPE.
                </p>
            </div>
        </div>
    </div>
</div>
