<div class="menu-in" id="command-region">
    <a href="#" class="icon-arrow back"></a>
    <p>Gestisci Profilo</p>
</div>
<div id="form-region" class="user-form panel-content scrollable">
    <form>
        <div class="field-editable">
            <span class="icon-user-full"></span>
            <!-- nickname, rimpiazza first e second name -->
            <input id="entity-nickname" placeholder="Nickname" name="nickname" type="text" />
        </div>
        <div id="email-aliases" class="aliases">
        </div>
        <div id="phone-aliases" class="aliases">
        </div>
        <div id="new-alias"></div>
        <p class="title">Informazioni Personali</p>
        <div class="field">
            <span class="icon-pin-full"></span>
            <span>{{address}}</span>
        </div>
        <div class="field">
            <span class="icon-marker-full"></span>
            <span>{{zipCode}}</span>
        </div>
        <div class="field">
            <span class="icon-gps-full"></span>
            <span>{{city}}</span>
        </div>
        <div class="field alternative-font">
            Per modificare le informazioni di residenza contatta l’Assistenza nella sezione Help.
        </div>
    </form>
    <div class="padding align-center">
        <!--<a href="#" class="js-submit start-action glb-btn success">
            Salva
            <i class="icon-accept "></i>
        </a>-->
        <div class="separator-line"></div>
        <a href="#" class="js-changepin glb-btn ghost">
            Cambia Password
        </a>
    </div>
</div>
